name: Cache CI

on:
  push:
  workflow_dispatch:

jobs:
  cache-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: cache-bd3f66b

      - name: prime-cache-bd3f66b
        run: echo "Cache hit? -> ${{ steps.cache-step.outputs.cache-hit }}"