name: TDS Action Test

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: 23f1000461@ds.study.iitm.ac.in
        run: echo "Hello, world!"